body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 50px;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.pro {
  text-decoration: underline;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.computer{
  width: 10%;
  float: left;
  margin-right: 30px;
}

.guitar{
  width: 10%;
  float:left;
  margin-right: 30px;

}

/* .mid-container{

} */

/* .bottom-container{

} */
